<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0878e067-ebeb-44b2-a604-adb9c1f7b6fd/resourceGroups/MyGroupMeto/providers/Microsoft.Web/sites/hospitalfindnomap</ResourceId>
    <ResourceGroup>MyGroupMeto</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hospitalfindnomap.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hospitalfindnomap.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hospitalfindnomap</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hospitalfindnomap</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=metoserver.database.windows.net;Initial Catalog=DefaultConnection;Persist Security Info=True;User ID=meto;Password=mada_faka8" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HospitalFind88.Models.HospitalsContext, HospitalFind88" MigrationConfiguration="HospitalFind88.Migrations.Configuration, HospitalFind88" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBCS" Order="2" Enabled="True">
          <Destination Path="Data Source=metoserver.database.windows.net;Initial Catalog=DefaultConnection;Persist Security Info=True;User ID=meto;Password=mada_faka8" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HOSPITAL7.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HOSPITAL7.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBCS-Web.config Connection String">
      <ParameterValue>Data Source=metoserver.database.windows.net;Initial Catalog=DefaultConnection;Persist Security Info=True;User ID=meto;Password=mada_faka8</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=metoserver.database.windows.net;Initial Catalog=DefaultConnection;Persist Security Info=True;User ID=meto;Password=mada_faka8</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>